.header-container {
  display: flex;
  justify-content: center;
  padding-top: 23px;
  padding-bottom: 20px;
  background-color: #e5e5e5;
}

.header-brand-text {
  width: 74px;
  height: 69px;
  margin-left: 15px;
}
