.header-container {
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #e5e5e5;
}

.header-brand-text {
  width: 74px;
  height: 69px;
  margin-left: 1rem;
}
