.subnav {
  width: 100vw;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Zilla Slab", serif;
}

.subnav-group {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}

.subnav-group-links {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}

.subnav-group-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 50px;
  width: 218px;
  border: 2px solid #ad2424;
  background-color: white;
  border-radius: 25px;
  font-size: 1.5rem;
}

.subnav-group-button:hover {
  border-color: black;
}

.subnav-group-item {
  padding-right: 1.9rem;
  padding-top: 3rem;
  font-weight: lighter;
  color: #ad2424;
  font-size: 1.5rem;
}

.subnav-group-item:hover {
  color: black;
  text-decoration: none;
}

.subnav-group-button-text {
  color: #ad2424;
  text-decoration: none;
}

.subnav-group-button-text:hover {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .subnav-group-item {
    font-size: 1rem;
  }

  .subnav-group-button {
    font-size: 1rem;
    height: 40px;
    width: 150px;
  }
}
