.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
}

.carousel-button {
  border: none;
  color: #ad2424;
  opacity: 60%;
  transition: 0.3s;
}

.carousel-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.carousel-button > i {
  font-size: 3rem;
}

.carousel-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin: 0 9px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #d99d9d;
}

.dot-red {
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin: 0 9px;
  background-color: #d99d9d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
