* {
  box-sizing: border-box;
}

.about-page-text {
  font-family: "Zilla Slab", serif;
  font-size: 3rem;
  color: #ad2424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-page-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.about-page-description {
  font-family: "Zilla Slab", serif;
  font-size: 2rem;
  font-weight: lighter;
  color: #6c6c6c;
  padding-right: 50px;
  width: 66%;
  margin-bottom: 30px;
}

.about-page-photo {
  height: 25rem;
  width: 25rem;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .about-page-description {
    width: 100%;
    margin: 0 auto;
    max-height: 500px;
    font-size: 1.55rem;
    text-align: justify;
  }

  .about-page-photo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 17rem;
    height: 17rem;
  }
}
